@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@theme {
  --color-palette-light-100: rgb(72, 133, 237);
  --color-palette-light-200: rgb(60, 186, 84);
  --color-palette-light-300: rgb(244, 194, 13);
  --color-palette-light-400: rgb(219, 50, 54);
  --color-palette-light-500: rgb(255, 255, 255);

  --color-palette-dark-100: rgb(166, 20, 59);
  --color-palette-dark-200: rgb(242, 34, 89);
  --color-palette-dark-300: rgb(38, 5, 14);
  --color-palette-dark-400: rgb(64, 2, 25);
  --color-palette-dark-500: rgb(9, 5, 13);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }
}