@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-palette-50: rgb(86, 45, 97);
  --color-palette-100: rgb(56, 19, 91);
  --color-palette-200: rgb(170, 183, 219);
  --color-palette-300: rgb(51, 54, 64);
  --color-palette-400: rgb(11, 11, 11);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }
}